<div class="toughts-form-container">
    <a href="/toughts/dashboard">voltar</a>
    <h1>Editar Pensamento</h1>
    <form action="/toughts/edit" method="post">
    <input type="hidden" name="id" value="{{tought.id}}">
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Digite seu pensamento" value="{{tought.title}}">
    </div>
    <input type="submit" class="btn" value="Salvar">
    </form>
</div>